.flex-grow {
    flex-grow: 1;
}

.overflow-auto {
    overflow: auto;
}

.p-4 {
    padding: 1rem;
}

.h-500px {
    height: 500px;
}

.md\:h-auto {
    height: auto; /* Adjust this based on your specific media query */
}

.flex {
    display: flex;
}

.items-end {
    align-items: flex-end;
}

.gap-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * (1 - var(--tw-space-x-reverse)));
}

.justify-end {
    justify-content: flex-end;
}

.pt-4 {
    padding-top: 1rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.bg-blue-500 {
    background-color: #3180ff;
}

.text-white {
    color: #fff;
}

.p-2 {
    padding: 0.5rem;
}

.flex.justify-between {
    justify-content: space-between;
}

.text-xs {
    font-size: 0.75rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.font-bold {
    font-weight: 700;
}

.border-b {
    border-bottom-width: 1px;
}

.max-w-2xl {
    max-width: 42rem;
}

.text-sm {
    font-size: 0.875rem;
}

.overflow-hidden {
    overflow: hidden;
}

.bg-zinc-200 {
    background-color: #456770;
}

.text-base {
    font-size: 1rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.italic {
    font-style: italic;
}
